configuration {
	modi: "window,ssh,drun";
	width: 800;
	lines: 10;
	columns: 2;
	font: "SFNS Display 10";
	show-icons: true;
	icon-theme: "papirus";
	theme: "~/.config/rofi/sidetab.rasi";
	display-drun: "App";
									
}
